@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="title" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input id="rating" asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input id="releasedate" asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input id="genre" asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="price" asp-for="Price" class="form-control" />
            </div>
            <div class="form-group">
                <input id="submit" type="button" value="Create" class="btn btn-primary" onclick="CreateMovie();" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script lang="en" type="text/javascript">
    function CreateMovie() {
        var movieDetails = GetMovieDetails();
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Movies/Create',
            context: document.body,
            data: movieDetails,
            success: function (xhr) {
                window.location.href = '@Url.Action("Index", "Movies")';
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred.. " + xhr.responseText);
            }
        });
    }
    function GetMovieDetails() {
        var movieDetails = "";
        movieDetails += "Title=" + document.getElementById("title").value;
        movieDetails += "&Rating=" + document.getElementById("rating").value;
        movieDetails += "&ReleaseDate=" + document.getElementById("releasedate").value;
        movieDetails += "&Genre=" + document.getElementById("genre").value;
        movieDetails += "&Price=" + document.getElementById("price").value;
        return movieDetails;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
